[client]
default-character-set=utf8mb4
socket=/usr/local/mysql/mysql.sock

[mysqld]
# GENERAL
server-id=21
port=3306
user=mysql
character_set_server=utf8mb4
default_storage_engine=InnoDB
transaction-isolation=REPEATABLE
autocommit=1

# 不区分大小写
lower_case_table_names=1
# 限制只允许mysql实例被某一个ip方问
bind_address=0.0.0.0
# 设成了1带来的问题就是你不能在mysql中使用主机名来对客户端权限进行划分,而是需要使用ip
skip_name_resolve=1

basedir=/usr/local/mysql
datadir=/usr/local/mysql/data
pid_file=/usr/local/mysql/mysql.pid
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,PIPES_AS_CONCAT,ANSI_QUOTES

# INNODB
innodb_file_per_table=1
#innodb_buffer_pool_size=
#innodb_log_file_size=
#inno_flush_method=0_DIRECT
#innodb_lock_wait_timeout=30
#innodb_deadlock_detect=on

# MYISAM
#key_buffer_size=

# LOGGING
log_error=/usr/local/mysql/mysql-error.log
log-bin=mysql-bin
# 表示每次事务的binlog都持久化到磁盘
sync_binlog=1
innodb_support_xa=1
#binlog-ignore-db=mysql
# binlog日志只记录指定库的更新
binlog-do-db=test_db
# binlog日志不记录指定库的更新
#binlog-ignore-db=db_name
binlog_format=ROW
# mysql-bin.*日志文件最大字节（单位：字节）
max_binlog_size=1G
# 设置了只保留30天BINLOG（单位：天）
expire_logs_days=30

# 表示每次事务的redo log都直接持久化到磁盘
innodb_flush_log_at_trx_commit=1

slow_query_log=1
long_query_time=2
slow_query_log_file=/usr/local/mysql/mysql-slow.log
# 记录没有使用索引的SQL语句
#log_queries_not_using_indexes=1

# OTHER
query_cache_type=0
query_cache_size=0

tmp_table_size=32M

max_heap_table_size=32M
max_connections=100
max_used_connections=20
#thread_cache=
#table_cache=
#open_files_limit=65535
explicit_defaults_for_timestamp=true
# 导入导出限制(设置为空字符串为不限制)
secure_file_priv=
# 不区分大小写
lower_case_table_names=1
# Slave
#ready-only
# MySQL 5.6或者更新版本
innodb_undo_tablespaces=2